<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <title>Zhi Yi's Portfolio: Log In</title>
        <style> .custom-alert {border: 1px solid #d9534f; color: #d9534f; background-color: #f2dede; padding: 10px; margin-bottom: 15px; border-radius: 4px;}</style>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Zhi Yi's Portfolio: Login Page</a>
                </div>
            </div>
        </nav>

        <div class="container">

            <div class="row">

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} custom-alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form method="POST">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{ form.username.label }}
                        {{ form.username(class="form-control", placeholder="Enter your username") }}
                    </div>

                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(class="form-control", placeholder="Enter your password") }}
                    </div>

                    <div>{{ form.submit(class="btn btn-success") }}</div>
                </form>
            </div>

        </div>

    </body>
</html>